@import './variables';

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $primary-text-color;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.navigation {
  background-color: $nav-background;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 20px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  margin: 10px 20px;
  padding: 5px 10px;
  border-radius: 7px;
  color: $nav-link-color;
  text-decoration: none;
  font-weight: bold;
  transition: $main-transition;
}

.nav-link:hover {
  background: #5ee352;
}

.home-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.posts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.post-card {
  background-color: $card-background;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  transition: $main-transition;
}

.post-card:hover {
  scale: 110%;
}

.post-card-title {
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: none;
  color: $primary-text-color;
}

.post-card-excerpt {
  color: $text-muted;
}

.post-detail {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: $card-background;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.post-detail-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.categories-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.categories-list {
  list-style: none;
  padding: 0;
}

.category-item {
  background-color: $category-background;
  padding: 10px;
  border-radius: 4px;
  margin: 5px 0;
  font-size: 18px;
}
