$primary-text-color: #333;
$background-color: #f4f4f9;
$nav-background: #4CAF50;
$nav-link-color: #fff;
$text-muted: #777;
$card-background: #fff;
$category-background: #e0e0e0;
$main-transition: .3s ease-in-out;
